AssetManagement/AssetUpdater/Service References/AssetManagementInformationService/InformationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScripts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScriptsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScriptsResult" type="tns:FileDescriptor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileDescriptor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPackageResult" type="tns:FileDescriptor" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetScriptsSoapIn">
    <wsdl:part name="parameters" element="tns:GetScripts" />
  </wsdl:message>
  <wsdl:message name="GetScriptsSoapOut">
    <wsdl:part name="parameters" element="tns:GetScriptsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPackageSoapIn">
    <wsdl:part name="parameters" element="tns:GetPackage" />
  </wsdl:message>
  <wsdl:message name="GetPackageSoapOut">
    <wsdl:part name="parameters" element="tns:GetPackageResponse" />
  </wsdl:message>
  <wsdl:portType name="InformationServiceSoap">
    <wsdl:operation name="GetVersion">
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScripts">
      <wsdl:input message="tns:GetScriptsSoapIn" />
      <wsdl:output message="tns:GetScriptsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPackage">
      <wsdl:input message="tns:GetPackageSoapIn" />
      <wsdl:output message="tns:GetPackageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InformationServiceSoap" type="tns:InformationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScripts">
      <soap:operation soapAction="http://tempuri.org/GetScripts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackage">
      <soap:operation soapAction="http://tempuri.org/GetPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InformationServiceSoap12" type="tns:InformationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScripts">
      <soap12:operation soapAction="http://tempuri.org/GetScripts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackage">
      <soap12:operation soapAction="http://tempuri.org/GetPackage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InformationService">
    <wsdl:port name="InformationServiceSoap" binding="tns:InformationServiceSoap">
      <soap:address location="http://localhost:50156/InformationService.asmx" />
    </wsdl:port>
    <wsdl:port name="InformationServiceSoap12" binding="tns:InformationServiceSoap12">
      <soap12:address location="http://localhost:50156/InformationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>